*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body{
    width: 100%;
}

ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

ul li{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}