.ring5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ring5 .circle{
    position: relative;
    width: 500px;
    height: 500px;
    filter: url(#wavy);
}

.ring5 .circle:before{
    content: '';
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    border: 20px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 40px #0f0,
                inset 0 0 40px #0f0;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0002);
    animation: animate-5 5s linear infinite;
}

.ring5 .circle:after{
    content: '';
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    border: 20px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff,
                inset 0 0 10px #fff;
}

.ring5 .circle:nth-child(2):before{
    animation-delay: -2.5s;
}

@keyframes animate-5{
    0%{
        box-shadow: 0 0 40px #0f0,
                    inset 0 0 40px #0f0;
        filter: hue-rotate(0deg);
    }
    20%{
        box-shadow: 0 0 50px #0f0,
                    inset 0 0 50px #0f0;
    }
    40%{
        box-shadow: 0 0 30px #0f0,
                    inset 0 0 30px #0f0;
    }
    60%{
        box-shadow: 0 0 70px #0f0,
                    inset 0 0 70px #0f0;
    }
    80%{
        box-shadow: 0 0 90px #0f0,
                    inset 0 0 90px #0f0;
    }
    100%{
        box-shadow: 0 0 40px #0f0,
                    inset 0 0 40px #0f0;
        filter: hue-rotate(360deg);
    }
}

.ring5 svg{
    width: 0;
    height: 0;
}