.ring4{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    z-index: 1000;
    animation: animate-4 1.8s linear infinite;
}

@keyframes animate-4{
    to{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.ring4:before{
    content: '';
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    border-radius: 50%;
    background: #000;
    z-index: 1000;
}

.ring4:after{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 50%;
    background: #000;
    z-index: 1;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    filter: blur(30px);
}