.ring3{
    position: relative;
    width: 200px;
    height: 200px;
    border: 4px solid #f1f1f1;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 1),
                10px 10px 10px rgba(0, 0, 0, .1),
                inset -10px -10px 5px rgba(255, 255, 255, .5),
                inset 10px 10px 10px rgba(0, 0, 0, .1);
}

.ring3::before{
    content: '';
    position: absolute;
    background: #f1f1f1;
    left: 25px;
    right: 25px;
    top: 25px;
    bottom: 25px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: inset -10px -10px 5px rgba(255, 255, 255, .5),
                inset 10px 10px 10px rgba(0, 0, 0, .1);
}

.ring3 span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    filter: blur(20px);
    animation: animate-3 .5s linear infinite;
}

@keyframes animate-3{
    to{
        transform: rotate(360deg);
    }
}