.ring1{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#13ffe9, #ffeb3b, #ff00e0);
    animation: .5s linear infinite;
}

.ring1 span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#13ffe9, #ffeb3b, #ff00e0);
    animation: rotate-ring .5s linear infinite;
}

@keyframes rotate-ring{
    to{
        transform: rotate(360deg);
    }
}

.ring1 span:nth-child(1){
    filter: blur(5px);
}

.ring1 span:nth-child(2){
    filter: blur(10px);
}

.ring1 span:nth-child(3){
    filter: blur(25px);
}

.ring1 span:nth-child(4){
    filter: blur(50px);
}

.ring1:after{
    position: absolute;
    content: '';
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #240229;
    border-radius: 50%;
}